/* 
    Green: #7ec148
           #509c11
    Purple: #7a4698
*/

body {
    overflow-x: hidden;
}

.main-screen-bg{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    background-image: url("/images/new_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transform:scaleX(90);
}

.main-text{
    background: aliceblue;
    padding: 20px 20px 40px 20px;
    border-radius: 15px;
    border: 2px solid #c6e2fa;
    opacity: .9;
}

.main-text-bg{
    width: 40%;
    height: 350px;
    position: absolute;
    background: #f6e4ff;
    z-index: -1;
    opacity: 0.7;
    margin-top: -5px;
    margin-left: -25px;
    border-radius: 20px;
}

.main-screen{
    height: calc(100vh - 117px);
}

.grey-background{
    /* background-color: #f6f7fb; */
    background-color: aliceblue;
}

.navbar-nav .nav-item:last-child {
    background-color: #7ec148;
    color: white;
    border-radius: 24px;
    font-weight: bold;
}

#our-services-menu{
    min-width: 125px;
}

.btn-success{
    color: #fff;
    background-color: #7ec148;
    border-color: #7ec148;
}

.btn-success:hover{
    border-color: #509c11;
    background-color: #509c11;
}

.section-header{
    color: #7a4698;
    text-shadow: .5px .5px #b08ec1;
}

.section-sub-header{
    color: #7a4698;
    text-shadow: 0 0 black;
}

.nav-link{
    color: #7a4698;
}

.dark-green{
    color: #509c11;
}

.base-pruple{
    color: #7a4698;
}


.navbar-nav .nav-item:last-child:hover {
    background-color: #509c11;
}

.navbar-nav .nav-item:last-child a{
    color: white;
}

.navbar-nav .nav-item:last-child:hover a{
    color: white;
}

.separator-border{
    border-top: solid 3px #7a4698;
}

.customer-logo{
    height: 80px;
    background-color: lightgray;
    color: gray;
    border-radius: 4px;
}

.user-avatar{
    border: solid 1px gray;
}

.user-votes{
    cursor: pointer;
    background-color: 	#f7f7f7;
}

.service-card > div {
    background-color: aliceblue;
    box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
}

/* .service-card:hover{
    cursor: pointer;
    background-color: 	#f7f7f7;
} */

.our-products:hover{
    cursor: pointer;
    transform: scale(1.2);
}

/* .user-votes:hover{
    border: solid 1px darkgrey;
    background-color: 	#eeecec;
    transform: scale(1.05);
} */

.contact-info{
    width: 48%;
    padding: 12px;
}

.contact-message{
    padding: 12px;
}


/*footer*/
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}